*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  font-family: Ubuntu;
  font-size: 14px;
  background-image: url(//demos.sim/cdn/bg.gif);
  margin: 0;
}
div.site-face-color{
  background:#23A3F8;
}
#site-logo{
  font-size:45px;
  font-weight: bold;
}
#site-byline{
  display: block;
  font-size: 18px;
}
#site-header .row{
  margin-bottom: 0;
}
#site-header .nav-content{
  font-size: 1.1rem;
  line-height: 64px;
}
#site-header #demo-title{
  font-size: 1.7rem;
}
#site-header .social-btn{
  display: inline-block;
  vertical-align: middle;
  max-height: 20px;
  margin-left: 10px;
}
#content{
  padding-top: 20px;
}
.social-btn iframe{
  height: auto !important;
  overflow: hidden;
}
@media screen and (max-width: 600px){
  #site-logo{
    margin: auto;
  }
  .site-byline{
    font-size:18px;
  }
  .site-header{
    padding: 5px 0px;
  }
}
